/*      */
.swiper {
      width: 100%;
      height: 20rem;
      margin-left: auto;
      margin-right: auto;
}
.swiper-wrapper{
    /*gap: 1.05rem;*/
    height: 17rem;
    cursor: pointer;
}
.swiper-slide {
    height: 17rem !important;
}
.video_player{
    position: relative;
    min-width: 23.75rem;
    height: 15.38rem;
}

.video_player button{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: transparent;
    cursor: pointer;
}
.active_video{
    display: none;
}



 video::-webkit-media-controls-enclosure {
    overflow:hidden;
    position: absolute;
    bottom:30px;
    color: red;
    opacity: .7;
}


.commemts_page .video_player {
    /*min-width: auto; 12vw*/
    height: 12.95rem;
    min-width: 32%;
    width: 22.75rem;
}



@media (max-width: 1280px) {
    .commemts_page .video_player{
        min-width: calc(50% - 1%);
        /*height: auto;*/
        height: 23vw;
    }
}
@media (max-width: 1010px) {
    .commemts_page .video_player{
        width: 100%;
        /*height: auto;*/
        height: 45vw;
    }
}
